*{
    margin-top: 10px;
    margin-bottom:10px ;
    margin-left:10px ;
    margin-right:10px ;
    padding: 0%;
    
 
 }
 body{
     background-image: url("Pet Care Image-01.jpg");
     background-size: 100% 740px;
     

     }
     .heading{
        position: relative;
        
     }
 .contain{
     width: 300px;
     height : 420px;
     background-color: rgb(4, 91, 86);
     margin-left: 36%;
     margin-top: 7%;
     margin-bottom: 15%;
     text-align: center;
     color: rgb(0, 235, 125);
     position: relative;
     bottom: 60px;
     right:420px;
     border-radius: 20px;

 }
 .contain .text{
     position: relative;
     top: 7%;
 }
 .imp1{
     border:none;
     background-color:black ;
     border-bottom: 3px solid white;
     width: 400px;
     font-size: 22px;
     margin-top: 40px;
     outline:none;
     color: white;
 }
 .imp2{
     border:none;
     background-color:black ;
     border-bottom: 3px solid white;
     width: 400px;
     font-size: 22px;
     margin-top: 40px;
     outline:none;
     color: white;
 }
 .imp3{
     border: none;
     background-color:black ;
     border-bottom: 3px solid white;
     width: 400px;
     font-size: 22px;
     margin-top: 40px;
     outline:none;
     color: white;
 }
 .text button{
     width: 250px;
     height: 44px;
     background-color: aqua;
     color: black;
     border: none ;
     font-size: 22px;
     border-radius: 25px;
     margin-top: 20px;
     cursor: pointer;
 }
 button:hover{
     border: 3px solid aqua;
     color: white;
     font-size: 20px;
     background-color: black;
 }
 p{
     margin-top: 30px;
     font-size: 20px;
 }
 p span{
     color: aqua;
     cursor: pointer;
 }
 