.body{
    background-color: #efc67a;
    background-size: cover;
}


.navbar{
    height: 60px;
    background-color: #efc67a;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box1{
    font-weight: 800;
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.panel-options a{
    width:1200px;
    height: 60px;
    display: flex-inline;
    justify-content: space-evenly;
    color: black;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
}
.create-button {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 40%;
    border-radius: 100px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border-color: black;
    
    
    
}
.create-button a{
    font-size: large;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.hero{
    background-image: url(dog-background-with-cute-pets-illustration_53876-111990.avif);
    height: 650px;
    background size : 100%;
}
.CONTAIN{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    
}
.contain1{
    width: 1000px;
    height : 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 30%;
    margin-inline: 30%;
    text-align: center;
    color: black;
    position: relative;
    
    margin-right:200px;
    

}
.contain .text{
    /* position: relative; */
    /* top: 7%; */
}
.view-button {
    font-size: medium;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* margin-left: 20px;
} */
}
.create-button{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left:230px;
    border-radius: 50px;
    cursor: pointer;
    background-color:gold;
    color: black;
    padding: 20px;
    border-color: orange;
    align-items: center;
    
    
    
}
.inp1{
    padding-top: 30px;
}
.hero-msg{
    padding: 100px 100px 100px 100px;
    font-size:500%;
    margin-left: 150px;
    align-items: center;
    color: rgb(214, 27, 90);
}
.contain2{
    width: 1000px;
    height : 500px;
    background-color: whitesmoke;
    
    border-radius: 10px;
    margin-left: 30%;
    margin-bottom: 50%; 
    margin-inline: 30%;
    margin-bottom: 0ch;
    text-align: center;
    color: black;
    position: relative;
    /* right:400px; */
}